
    body {
        background-color: #bef0f0;
    }
    hr {
        border-color:grey;
        border-style:dotted none none;
        height: 0px;
        width: 20%;
        border-width: 10px;
    }
    img {
        height: 200px;
    }
    h2 {
       color: crimson; 
    }

    h3 {
        color: blue;
    }
